
<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Lotteries</h2>
            <img src="assets/dog.jpg" alt="chamara">
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active" >Dashboard</a>
    <a mat-list-item [routerLink]="['/jathika-sampatha']" routerLinkActive="list-item-active" >Jathika Sampatha</a>
    <a mat-list-item [routerLink]="['/dhana_nidhanaya']" routerLinkActive="list-item-active" >Dhana Nidhanaya</a>
    <a mat-list-item [routerLink]="['/mahajana_sampatha']" routerLinkActive="list-item-active" >Mahajana Sampatha</a>
    <a mat-list-item [routerLink]="['/govisetha']" routerLinkActive="list-item-active" >Govisetha</a>
    <a mat-list-item [routerLink]="['/sevana']" routerLinkActive="list-item-active" >Sevana</a>
    <a mat-list-item [routerLink]="['/wasana_sampatha']" routerLinkActive="list-item-active" >Wasana Sampatha</a>



  <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="list-item-active" >
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="list-item-active" >
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>

