<h2 mat-dialog-title>Sample Configuration For a Lottery</h2>
<mat-dialog-content class="mat-typography">
  <p>the Configuration file should be a YML file</p>
  <div style="height: 400px; overflow-y:scroll">
    <pre><code [highlight]="data" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
  </div>
</mat-dialog-content>
  <mat-dialog-actions align="right">
    <!--  <button mat-button mat-dialog-close>Cancel</button>-->
    <button mat-button (click)="openDialog()" [mat-dialog-close]="true" cdkFocusInitial>Get Configuration File</button>
  </mat-dialog-actions>
