<h2 mat-dialog-title>Set Configuration For Lottery</h2>
<mat-dialog-content class="mat-typography">
  <h3>Upload the Configuration File</h3>
  <p>the Configuration file should be a YML file</p>

  <pre><code [highlight]="data" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Upload File</button>
</mat-dialog-actions>
