#button {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottoinput {
  height: 300px;
  color: #f5f4a6;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: #fff597;
  border-radius: 50%;
  float: left;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center;
  margin:auto;
  }
.h4 {
  margin-top: 5px;
  color: rgba(0,0,0,0.60)
}
