<mat-card class="lottoinput" style="background-color: aliceblue">
  <mat-card-content>
    <h2 class="mat-h2" style="color: rgba(0,0,0,0.60); display: inline-block">Enter Lottery Numbers</h2>
    <h2 class="mat-h3" style="color: rgba(0,0,0,0.60); padding-left: 80px; padding-right: 15px; display: inline-block">Enter Draw No</h2>
    <input style="width: 90px; display: inline-block" class="form-control" type="text" placeholder="Draw No" [(ngModel)]="drawNo">
    <div style="padding: 20px 10px;">
      <form [formGroup]="myForm">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="letter" formControlName="letter">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No 1" formControlName="no1">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No 2" formControlName="no2">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No 3" formControlName="no3">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No 4" formControlName="no4">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No 5" formControlName="no5">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="No 6" formControlName="no6">
          </div>
        </div>
        <div id="button">
          <button mat-raised-button color="primary" (click)="buttonClick()" type="submit">Submit</button>
        </div>
      </form>
    </div>

    <div><label class="mat-h4" style="color: rgba(0,0,0,0.60); margin-left: 15px">Result</label></div>
    <div class="circle"><h4 id="index1" class="h4"></h4></div>
    <div class="circle"><h4 id="index2" class="h4"></h4></div>
    <div class="circle"><h4 id="index3" class="h4"></h4></div>
    <div class="circle"><h4 id="index4" class="h4"></h4></div>
    <div class="circle"><h4 id="index5" class="h4"></h4></div>
    <div class="circle"><h4 id="index6" class="h4"></h4></div>
    <div class="circle"><h4 id="index7" class="h4"></h4></div>

  </mat-card-content>
</mat-card>

