<div style="padding-bottom: 10px">
  <div align="right">
    <div id="setConfig" style="display: inline-block">
      <button mat-raised-button color="primary" type="setconfig">Set Configuration</button>
<!--      <button mat-raised-button color="primary" (click)="buttonClick()" type="submit">Submit</button>-->
    </div>
    <div id="setResult" style="display: inline-block; padding-left: 10px">
      <button (click)="openSetResultDialog()" mat-raised-button color="primary" type="setresult">Set Winning Numbers</button>
    </div>
  </div>
</div>
