<div>
    <app-widget-area data="bigChart"></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="12K" precentage="50" [cardComponentData]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="New retention" total="8K" precentage="40" [cardComponentData]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="New engagement" total="16K" precentage="30" [cardComponentData]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="referrel" total="15K" precentage="20" [cardComponentData]="cards"></app-widget-card>
    </mat-card>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">Table</div>
    <div fxFlex ="40">
        <app-widget-pie [pieChartOptions]="pieChartOptions"> </app-widget-pie>
    </div>
</div>
